#container {
    width: 600px;
    height: 80px;
    background-color: grey;

    /* Position absolute relative to parent container */
    position: absolute;
}

#box {
    width: 50px;
    height: 80px;
    background-color: red;

    /* Position absolute relative to parent container */
    position: absolute;
}
